<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="5" android:versionName="1.4"
    package="name.vampidroid" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".VampiDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
						 android:value=".VampiDroid" />
			<meta-data android:name="android.app.searchable" 
						 android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".CardDetails"/>
        <activity android:name=".About"/>
    </application>
    <uses-sdk android:minSdkVersion="7"/>
</manifest>
