<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="name.vampidroid">


    <uses-sdk tools:overrideLibrary="com.jakewharton.rxbinding2.support.design, com.jakewharton.rxbinding2, com.jsibbold.zoomage" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--android:icon="@mipmap/ic_launcher"-->
    <application
        android:name="VampiDroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".VampiDroid"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             In order to have a single instance when implementing Up navigation we use singleTop.
             Reference: http://stackoverflow.com/questions/13293772/how-to-navigate-up-to-the-same-parent-state
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".EditPreferences"
            android:label="Preferences" />

        <activity
            android:name=".SettingsActivity"
            android:label="Preferences" />

        <activity
            android:name=".NewDeck"
            android:label="New Deck"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".AddRemoveDeckCard"
            android:label="Edit deck card"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".Tutorial"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name=".CryptCardDetailsActivity"
            android:label="@string/title_activity_card_details"
            android:parentActivityName=".VampiDroid"
            android:theme="@style/AppTheme.NoActionBar.CardDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.vampidroid.VampiDroid" />
        </activity>
        <activity
            android:name=".LibraryCardDetailsActivity"
            android:label="@string/title_activity_card_details"
            android:parentActivityName=".VampiDroid"
            android:theme="@style/AppTheme.NoActionBar.CardDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.vampidroid.VampiDroid" />
        </activity>
        <activity
            android:name=".CardImageActivity"
            android:label="@string/title_activity_card_image"
            android:theme="@style/AppTheme.NoActionBar.BlackStatusBarColor"></activity>
    </application>


</manifest>
